Repository vvo/iron-session: changes, and which lefthook commands are due for each by the changed paths.
All: 1_replace, 3_eslint

lefthook.yaml:

skip_output:
  - meta
  - execution

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit {1}

post-commit:
  commands:
    status:
      run: git status

post-checkout:
  commands:
    install:
      run: pnpm i

pre-commit:
  piped: true
  commands:
    1_replace:
      glob: '*.{json,ts}'
      run: pnpm replace "'{\n'" "'{ '" {all_files}
    2_prettify:
      run: pnpm prettier --write --ignore-unknown {all_files}
    3_eslint:
      glob: '*.ts'
      run: pnpm eslint --fix {all_files} --max-warnings 0

chore: add LICENSE, FUNDING, update package.json
  .eslintrc.yaml
  .github/FUNDING.yaml
  LICENSE.md
  README.md
  lefthook.yaml
  package.json
  pnpm-lock.yaml
Due: 1_replace

chore: add .nvmrc
  .nvmrc
Due: none

chore: update extension recommendations
  .vscode/extensions.json
Due: 1_replace

feat: better error messages
  lefthook.yaml
  src/core.ts
Due: 1_replace, 3_eslint

fix: directly create and throw errors to avoid polluting stack
  src/core.ts
Due: 1_replace, 3_eslint

chore: cleanup description
  package.json
Due: 1_replace

feat: allow specifying options in save and destroy
  .eslintrc.yaml
  .prettierrc.yaml
  .vscode/settings.json
  lefthook.yaml
  src/core.ts
  src/index.node.ts
  src/index.ts
Due: 1_replace, 3_eslint

chore: reformat
  .prettierrc.yaml
  lefthook.yaml
  src/core.ts
  src/index.node.ts
  src/index.ts
Due: 1_replace, 3_eslint

update README.md to remove reference to /edge
  README.md
Due: none

chore: bump deps, fix exports, stricter eslint
  .eslintrc.yaml
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
  src/core.ts
  tsconfig.json
Due: 1_replace, 3_eslint

chore: add koa example
  .eslintrc.yaml
  examples/koa/app.ts
  examples/koa/lib/session.ts
  examples/koa/package.json
  lefthook.yaml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: 1_replace, 3_eslint

docs: add readme in koa example
  examples/koa/README.md
Due: none

chore: fix typo
  examples/koa/app.ts
Due: 1_replace, 3_eslint

chore: add deno example and fix cookie set/get logic
  .vscode/settings.json
  examples/deno/app.ts
  examples/deno/package.json
  package.json
  pnpm-lock.yaml
  src/core.ts
  src/index.node.ts
  src/index.ts
Due: 1_replace, 3_eslint

refactor: organise example
  examples/deno/app.ts
  examples/deno/lib/session.ts
Due: 1_replace, 3_eslint

docs: add deno-example docs
  examples/deno/README.md
  examples/koa/README.md
Due: none

chore: add bun example
  examples/bun/app.ts
  examples/bun/lib/session.ts
  examples/bun/package.json
  examples/deno/README.md
  examples/deno/app.ts
  package.json
  pnpm-lock.yaml
Due: 1_replace, 3_eslint

docs: add readme to bun example
  .npmrc
  examples/bun/README.md
  examples/bun/app.ts
  examples/deno/README.md
  examples/deno/app.ts
  package.json
  pnpm-lock.yaml
Due: 1_replace, 3_eslint

test: add tests
  .eslintrc.yaml
  examples/bun/app.ts
  examples/bun/tsconfig.json
  lefthook.yaml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tests/index.test.ts
  tests/package.json
Due: 1_replace, 3_eslint

ci: add tests workflow
  .eslintrc.yaml
  .github/workflows/ci.yaml
  .gitignore
  lefthook.yaml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/index.test.ts
  tests/package.json
Due: 1_replace, 3_eslint

ci: fix coverage
  .github/workflows/ci.yaml
  package.json
Due: 1_replace

ci: fix coverage
  .github/workflows/ci.yaml
Due: none

ci: fix coverage script
  .github/workflows/ci.yaml
  package.json
Due: 1_replace

test: add more tests
  .eslintrc.yaml
  package.json
  src/index.test.ts
Due: 1_replace, 3_eslint

fix: handle ttl and max-age properly in case of overriden options in save/destroy calls
  src/core.ts
  src/index.test.ts
Due: 1_replace, 3_eslint

test: increase test coverage
  src/core.ts
  src/index.test.ts
Due: 1_replace, 3_eslint

chore: bump deps
  .github/workflows/ci.yaml
  package.json
  pnpm-lock.yaml
Due: 1_replace

docs: wip
  CONTRIBUTING.md
  README.md
  package.json
Due: 1_replace

docs: update contribution guide
  CONTRIBUTING.md
Due: none

chore: add lagon example
  examples/bun/package.json
  examples/lagon/app.ts
  examples/lagon/lib/session.ts
  examples/lagon/package.json
  package.json
  pnpm-lock.yaml
Due: 1_replace, 3_eslint

chore: .
  README.md
Due: none

chore: release v8.0.0-alpha.0
  CHANGELOG.md
  package.json
Due: 1_replace

feat: next cookie handler
  src/core.ts
Due: 1_replace, 3_eslint

fix: cookieHandler param in getIronSession
  src/core.ts
Due: 1_replace, 3_eslint

feat: server action functions
  src/core.ts
  src/index.ts
Due: 1_replace, 3_eslint

fix: get server action cookie value
  src/core.ts
Due: 1_replace, 3_eslint

feat: export getServerActionIronSession function
  src/index.node.ts
Due: 1_replace, 3_eslint

refactor: getCookie to previous parse method
  src/core.ts
Due: 1_replace, 3_eslint

docs(README): nextJS usage, API, and FAQ
  README.md
Due: none
